####################
# Eclipse workspace
####################
.metadata/

##################
# Eclimd log file
##################
eclimd.log

#####################
# OSX specific files
# ###################
.DS_Store

################
# Android build
################
android-client/bin/
android-client/gen/

###################
# Vim backup files
###################
*.swp
