####################
# Eclipse workspace
####################
.metadata/

##################
# Eclimd log file
##################
eclimd.log

#####################
# OSX specific files
# ###################
.DS_Store

################
# Android build
################
android-client/bin/
android-client/gen/

###############
# Server build
# #############
server/bin

###################
# Vim backup files
###################
*.swp
